# <font color='blue'>Data Science Academy</font>

## <font color='blue'>Fundamentos de Linguagem Python Para Análise de Dados e Data Science</font>

## <font color='blue'>Capítulo 4 - Exercícios</font>

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.11.6

## Exercícios

In [2]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os númer

In [3]:
# Lista com numeros 1 a 10 
Lista = ["1,2,3,4,5,6,7,8,9,10"]
type(Lista)

list

In [4]:
#Imprimindo Lista
print(Lista)

['1,2,3,4,5,6,7,8,9,10']

In [5]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

In [6]:
# Lista de Objetos
Lista_obj = ["Arroz,Feijão,Carne,Café,Açucar"]

type(Lista_obj)

list

In [7]:
print(Lista_obj)

['Arroz,Feijão,Carne,Café,Açucar']

In [8]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

In [9]:
s = "Palmeiras Campeão"

s + 'Brasileiro 2023' 

s = s + 'Brasileiro 2023' 

print(s)

Palmeiras CampeãoBrasileiro 2023

In [10]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

In [11]:
# Criando a tupla
tupla = (1, 2, 2, 3, 4, 4, 4, 5)

# Usando a função count para verificar quantas vezes o número 4 aparece na tupla
quantidade_de_quatro = tupla.count(4)

print(f'O número 4 aparece {quantidade_de_quatro} vezes na tupla.')

O número 4 aparece 3 vezes na tupla.

In [12]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela

In [13]:
# Criando um dicionário vazio
dicionario = {}

# Imprimindo o dicionário vazio
print(dicionario)

{}

In [14]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

In [15]:
dict3 = {'chave1':'Palmeiras', 'chave2':['Brasil'],'chave3':['Real Madrid'] }

print (dict3)

{'chave1': 'Palmeiras', 'chave2': ['Brasil'], 'chave3': ['Real Madrid']}

In [16]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

In [17]:
dict3 = {'chave1':'Palmeiras''Maior do Brasil', 'chave2':['Brasil'],'chave3':['Real Madrid'] }

print(dict3)

{'chave1': 'PalmeirasMaior do Brasil', 'chave2': ['Brasil'], 'chave3': ['Real Madrid']}

In [18]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. 
# Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.

In [19]:
dict3 = {'chave1':'Palmeiras', 'chave2':['Brasil'],'chave3':[23] }

print(dict3)

{'chave1': 'Palmeiras', 'chave2': ['Brasil'], 'chave3': [23]}

In [ ]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.

In [20]:
# Criando a lista com os elementos especificados
lista = [
    "String",
    (1, 2),
    {"chave1": "valor1", "chave2": "valor2"},
    3.14
]

# Imprimindo a lista na tela
print(lista)

['String', (1, 2), {'chave1': 'valor1', 'chave2': 'valor2'}, 3.14]

In [11]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

In [24]:
s =  'Cientista de Dados é o profissional mais sexy do século XXI'

print(s)

Cientista de Dados é o profissional mais sexy do século XXI

In [29]:
s[:18]

'Cientista de Dados'

# Fim

### Obrigado

### Visite o Blog da Data Science Academy - <a href="http://blog.dsacademy.com.br">Blog DSA</a>